@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
  height: 60px;
  border-bottom: 1px solid #C8CED3;
  z-index: 2;

  .navbar {
    height: 60px;
    display: flex;

    color: #ffffff;
    background: linear-gradient(72deg, #780206, #061161);
  }

  .menu-icon-wrapper {
    width: 60px;
  }

  .navbar-logo {
    color: #ffffff !important;
    font-size: 24px;
    font-family: 'Lobster', cursive;
  }

  .sign-in-icon {
    margin-left: auto;
    margin-right: 12px;
    font-size: 1.5rem;
  }
}
