// Break Point
$iPhoneXS: 375px;
$phone: 480px;
$tablet: 767px;
$laptop: 1020px;
$desktop: 1400px;


// Mixins
@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

