@import "src/assets/scss/mixin.scss";

.home {
  height: 100%;

  //height: calc(100vh - 60px);
  //
  //display: flex;
  //flex-direction: column;
}

.contents-wrapper {
  //min-height: 100%;
  //width: 100vw;
  //

  height: calc(100% - 20px);

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1;
  overflow: auto;
}
